!!!
%html
  %head
    %title liimlap.ly
    != js('vendor')
    != js('application')
    != css('application')

    :javascript
      StickyNotes.bootstrappedDesktopAttributes = JSON.parse('#{JSON.stringify(@desktops)}');
  %body
    %noscript
      #sidebar>
        #fallback-message.hint Read-only mode. Please turn on JavaScript to manage Your notes!
        %ul#desktops
          - for desktop in @desktops
            %li{class: if desktop == @currentDesktop then 'current'}
              != @partial 'desktops/list_item', desktop
      #current-desktop-wrapper
        - if @currentDesktop
          - for note in @currentDesktop.notes
            .note-container{style: ('position:absolute;top:'+note.yPosition+'%;left:'+note.xPosition+'%;')}
              .ratio-holder
              != @partial 'notes/content', note, partial: @partial
