@import mixins
text-color = #434752

ul#desktops
  list-style-type: none
  padding: 0
  margin: 0
  li
    border-bottom: 1px solid text-color
    text-align: center
    a.list-link
      display: table
      width: 100%
      height: 50px
      color: text-color
      text-decoration: none
      &.add-new-desktop
        font-size: 30px
      span
        display: table-cell
        vertical-align: middle
        position: relative
        height: 100%
        &.icon
          width: 30%
          font-size: 32px
          line-height: 32px
        &.title
          width: 70%
          font-size: 13px
          font-weight: bold
          text-align: left
    &.new-desktop
      input[type=text]
        input-field-color(#656b7c)
        font-size: 15px
      a
        font-size: 14px
        color: text-color
    &.current
      background-color: #515459
      a
        color: #99a89e
    &:first-child
      border-top: 1px solid text-color
    &.plus
      border-bottom: none
    hoverable-actions()
