input[type=text]
  width: 100%
  box-sizing: border-box
  -moz-box-sizing: border-box
  background: none;
  border: none;
  text-align: center;
  font-size: 20px;
  &:focus
    border: none
    outline: none

.hint
  font-size: 12px
  color: #7a7a7a
