hoverable-actions()
  position: relative
  .actions
    display: none;
    position: absolute;
    top: 2px
    right: 5px
    z-index: 100
    a
      color: desktop-bg
      text-decoration: none
  &:hover
    .actions
      display: block

input-field-color(color)
  color: color
  &::-webkit-input-placeholder
    color: color
  &:-moz-placeholder
    color: color
  &::-moz-placeholder
    color: color
  &:-ms-input-placeholder
    color: color

folded-note(size color cornerColor)
  background:
    linear-gradient(315deg, transparent size/4*3, color size/4*3)
  &:before
    content: ""
    position: absolute
    bottom: 0
    right: 0
    border-width: size size 0 0
    border-style: solid
    border-color: cornerColor transparent
