@import colors
@import mixins

.note-container
  display: inline-block
  position: relative
  width: 25%
  hoverable-actions()

.ratio-holder
  margin-top: 100%

.note
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-size: 100% 100%
  cursor: move
  &.text-note
    background-color: text-note-bg
    color: text-note-contrast
    folded-note(3em, text-note-bg, text-note-contrast)
    input[type=text]
      input-field-color(text-note-contrast)
  &.image-note
    background-color: image-note-bg
    color: image-note-contrast
    input[type=text]
      input-field-color(image-note-contrast)
  form, .content
    display: table
    width: 100%
    height: 100%
    p, .fields
      font-size: 26px
      display: table-cell
      vertical-align: middle
      text-align: center
    .fields
      font-size: 15px

#new-notes
  position: relative
  text-align: center
  .note-container
    width: 40%
    margin-top: 40%
    margin-bottom: 20%
    z-index: 100
    &:first-child
      margin-right: 1%
    &:last-child
      margin-left: 1%
    .text-note
      folded-note(1em, text-note-bg, text-note-contrast)
