@import colors

#sidebar, #current-desktop-wrapper
  display: inline-block
  min-height: 100%
  vertical-align: top

#sidebar
  width: 20%
  background-color: sidebar-bg
  #fallback-message
    text-align: center
    font-size: 15px
    margin: 40px 5px

#current-desktop-wrapper
  position: relative
  width: 80%
  background-color: desktop-bg
  height: 0
  #current-desktop
    height: 100%
